extends ../layout
block body
  .jumbotron.hero-spacer
    .row
      h1 Cues
      table.table
        tbody
          each cue in cues
            tr
              td
                h2   #{cue.song} #{cue.setList}
                  small  #{cue.talent}
                small #{cue.id}
                a(href='editarDetalle/#{cue.id}')    editar
              td
                -var json = JSON.stringify(cue.cue)
                -var parse = JSON.parse(json)
                  each val, key in parse
                    .text-success #{key} <kbd> #{val}</kbd>
