extends ../layout
block body
  h1 Detalle

  .jumbotron.hero-spacer
    .row

    .row Genero : #{groups.genero}
    .row Sub Genero: #{groups.subgenero}
    .row Tags: #{groups.tags}
    .row Activo ? #{groups.activo}
    .row Web : #{groups.web}
    .row Twitter: #{groups.twitter}
    .row Facebook: #{groups.facebook}
    .row Instagram: #{groups.instagram}
    .row Cobertura: #{groups.covertura}
    .row Zona de encuentro: #{groups.zonaEncuentro}
