extends ../layout
block body
  .jumbotron.hero-spacer
      .row
         h1 Grupos Medellin
         ul.nav.nav-tabs
          li
            a(href="todos") Listado
          li
            a(href="porGenero") Por Género
          li
            a(href="sinGenero") Sin Género
          li
            a(href="objeto") Objeto
         .row
           a.btn.btn-small.btn-success(href='/grupos/nuevo') Insertar
         table
             tbody
               each grupos in groups
                tr
                  td #{grupos.nombre}
                  td #{grupos.genero}
                  td
                    a.btn.btn-link.btn-primary(href='/grupos/detalle/#{grupos.id}') Detalle
                  td
                    a.btn.btn-link.btn-warning(href='/grupos/editarDetalle/#{grupos.id}') Editar
                  td
                    small &nbsp &nbsp  #{grupos.id} &nbsp  &nbsp
                  td
                    a.btn.btn-mini.btn-danger(href='/grupos/destruir/#{grupos.id}') Borrar
                  td #{grupos.apariciones}
